doctype html
html(lang="ru-RU")
	include includes/head
	body.localcoin
		include includes/header
		main.main
			include includes/sidebar
			.content
				h2.content__heading Deposit/Withdraw
				.dashboard
					.dashboard__actions
						.container-fluid
							.row
								.col-xl-3.col-lg-6
									input(type="text" placeholder="Find an asset")
								.col-xl-9.col-lg-12
									.dashboard__actions__filters
										label.checkbox
											input(type="checkbox" name="dashboard-filters").checkbox__input
											span.checkbox__styled
											span.checkbox__label Show favorites
										label.checkbox
											input(type="checkbox" name="dashboard-filters").checkbox__input
											span.checkbox__styled
											span.checkbox__label Hide 0 balances
										label.checkbox
											input(type="checkbox" name="dashboard-filters").checkbox__input
											span.checkbox__styled
											span.checkbox__label Hide unknown
					.dashboard__adaptive
						table.dashboard__table.composite
							tr
								th.right
									a(href="#").table-star
								th Asset
								th.right Qty
								th.right Value (LLC)
								th.center Deposit
								th.center Widthdraw
							tr
								td
									a(href="#").table-star-default
								td
									a(href="#").dashboard__table__link
										img(src="img/w3c.png", alt="icon")
										span W3C
								td.right
								td.right --
								td.center
									span.dashboard__table__deposit
								td.center
									span.dashboard__table__withdraw
							tr
								td
									a(href="#").table-star-default
								td
									a(href="#").dashboard__table__link
										img(src="img/html.png", alt="icon")
										span HTML
								td.right 23 315 LLC
								td.right --
								td.center
									span.dashboard__table__attention
								td.center
									span.dashboard__table__attention
							tr
								td
									a(href="#").table-star-default
								td
									a(href="#").dashboard__table__link
										img(src="img/maid.png", alt="icon")
										span MAID
								td.right 186 LLC
								td.right --
								td.center -
								td.center -
							tr
								td
								td.dashboard__table__total(colspan="1") 
									b Total (
										a(href="#")
											b LLC
										|)
								td
								td(colspan="3").dashboard__table__total
									span
										b 23 517 LLC
		include includes/footer
		//- Подключение скриптов
		include includes/scripts