doctype html
html(lang="ru-RU")
	include includes/head
	body.localcoin
		include includes/header
		main.main
			include includes/sidebar2
			.content
				h2.content__heading Graphene Help
				.faq
					.container-fluid
						.row
							.col-md-8
								p BitShares 2.0 is a Financial Smart Contracts platform that is based on the Graphene technology built by Cryptonomex. You can see Graphene as a toolkit or technology for real-time blockchains.
								p This help section gives a brief overview and describes the most basic concepts of this application.
								h4 Introduction
								ul
									li
										a(href="#") BitShares
									li
										a(href="#") Wallet
									li
										a(href="#") Backups
									li
										a(href="#") Blockchain
									li
										a(href="#") Witnesses
									li
										a(href="#") Workers
									li
										a(href="#") Committe Members
									li
										a(href="#") FAQ
								h4 Accounts
								ul
									li
										a(href="#") Introduction
									li
										a(href="#") Permissions
									li
										a(href="#") Memberships



		include includes/footer
		//- Подключение скриптов
		include includes/scripts