doctype html
html(lang="ru-RU")
	include includes/head
	body.localcoin
		.container-fluid
			br
			a.popup-with-zoom-anim(href='#dialog') Modal
		#dialog.zoom-anim-dialog.mfp-hide.deposit-dialog
			span.mfp-close
			h2 Deposit
			.modal-company
				img(src="img/modal-company.png", alt="").modal-company__icon
				h3.modal-company__title Tusd
			p.modal-company__text.center Funds will be sent to account 
				b ninetor-dot.
			p.modal-company__text.center Please send your TUSD to the address below:
			.modal-company__clip
				label Address
				input(type="text" value="0x8aff9360f54fb00200797120eeb10b7d8b2e32a7")
				button(type="button" style="background-image: url('img/copy.svg')").btn.icon
			p.modal-company__text.error Minimum value to deposit should be 8.8.
			p.modal-company__text.error IMPORTANT: Send only BAR to this deposit address. Sending less than 8.8 BAR or any other currency to this address may result in the loss of your deposit.


		//- Подключение скриптов
		include includes/scripts