doctype html
html(lang="ru-RU")
	include includes/head
	body.localcoin
		include includes/header
		main.main
			//- include includes/sidebar2
			.content
				h2.content__heading Markets
				.my-markets
					h4 My markets
				.negative-margins
					.container-fluid
						.row.my-market-filters
							.col-xl-3.col-lg-6.col-md-6.col-sm-12
								input(type="text" placeholder="Find an asset")
							.col-xl-9.col-lg-6.col-md-6.col-sm-12.d-flex.align-items-center
								label.checkbox
									input(type="checkbox" name="markets").checkbox__input
									span.checkbox__styled
									span.checkbox__label Show only favorites
				ul.markets-list
					li.markets-list__item BTC
					li.markets-list__item.active ETH
					li.markets-list__item EOS
					li.markets-list__item bitCNY
					li.markets-list__item bitUSD
					li.markets-list__item LLC
					li.markets-list__item OBITS
				.market-list-wrap
					table.market-table
						tr
							th: a(href="#").table-star
							th Market
							th Quote supply
							th.right Vol
								span.carret
							th.right Price
							th.right Change
						tr
							td: a(href="#").table-star-default
							td LLC
							td 2 632,626,827.86866 LLC
							td.right 26.124
							td.right 0.000334
							td.right.success 120.00%
						tr
							td: a(href="#").table-star-default
							td LLC
							td 2 632,626,827.86866 LLC
							td.right 26.124
							td.right 0.000334
							td.right.danger 120.00%


		include includes/footer
		//- Подключение скриптов
		include includes/scripts