doctype html
html(lang="ru-RU")
	include includes/head
	body.localcoin
		include includes/header
		main.main
			include includes/sidebar
			.content
				h2.content__heading Account Dashboard
				.dashboard
					.dashboard__tabs
						.select.dashboard__mobileselect
							span.placeholder Assets
							ul
								li(data-value='1') Open Orders
								li(data-value='2') Margin Positions
								li(data-value='3') History
							input(type='hidden', name='changeme')
						.dashboard__tabs__item
							h4 Assets
							span 0 LLC
						.dashboard__tabs__item
							h4 Open Orders
							span 0 LLC
						.dashboard__tabs__item.active
							h4 Margin Positions
							span 0 LLC
						.dashboard__tabs__item
							h4 History
					.dashboard__actions
						.container-fluid
							.row
								.col-xl-3.col-lg-6
									input(type="text" placeholder="Find an asset")
								.col-xl-9.col-lg-12
									.dashboard__actions__filters
										label.checkbox
											input(type="checkbox" name="dashboard-filters").checkbox__input
											span.checkbox__styled
											span.checkbox__label Show favorites
										label.checkbox
											input(type="checkbox" name="dashboard-filters").checkbox__input
											span.checkbox__styled
											span.checkbox__label Hide 0 balances
										label.checkbox
											input(type="checkbox" name="dashboard-filters").checkbox__input
											span.checkbox__styled
											span.checkbox__label Hide unknown
					.dashboard__adaptive
						table.dashboard__table
							tr
								th.right
									a(href="#").table-star
								th Asset
								th.right Qty
								th.right Price (LLC)
									span.carret
									span.carret.up
								th.right 24hr
								th.right Value (LLC)
								th.center Send
								th.center Deposit
								th.center Widthdraw
								th.center Trade
								th.center Borrow
								th.center Settle
							tr
								td
									a(href="#").table-star-default
								td
									a(href="#").dashboard__table__link
										img(src="img/w3c.png", alt="icon")
										span W3C
								td.right
								td.right 0.00084995
								td.right.danger -23.43%
								td.right --
								td.center -
								td.center
									span.dashboard__table__deposit
								td.center
									span.dashboard__table__withdraw
								td.center
									span.dashboard__table__trade
								td.center
									span.dashboard__table__borrow
								td.center
									span.dashboard__table__settle
							tr
								td
									a(href="#").table-star-default
								td
									a(href="#").dashboard__table__link
										img(src="img/html.png", alt="icon")
										span HTML
								td.right 23 315 LLC
								td.right 0.00084995
								td.right.danger -23.43%
								td.right --
								td.center -
								td.center
									span.dashboard__table__attention
								td.center
									span.dashboard__table__attention
								td.center
									span.dashboard__table__trade
								td.center -
								td.center -
							tr
								td
									a(href="#").table-star-default
								td
									a(href="#").dashboard__table__link
										img(src="img/maid.png", alt="icon")
										span MAID
								td.right 186 LLC
								td.right 0.01724
								td.right.success 120.00%
								td.right --
								td.center -
								td.center
									span.dashboard__table__attention
								td.center
									span.dashboard__table__attention
								td.center
									span.dashboard__table__trade
								td.center -
								td.center -
							tr
								td
								td.dashboard__table__total(colspan="11") 
									b Total (
										a(href="#")
											b LLC
										|)
									span
										b 23 517 LLC
		include includes/footer
		//- Подключение скриптов
		include includes/scripts