doctype html
html(lang="ru-RU")
	include includes/head
	body.localcoin
		include includes/header
		main.main
			//- include includes/sidebar2
			.content
				h2.content__heading Witnesses
				.witnesses-board
					.witnesses-board__sidetable
						.witnesses-board__sidetable__row
							span Current witness
							span delegate-1.lafona
						.witnesses-board__sidetable__row
							span Active Witnesses
							span 27
						.witnesses-board__sidetable__row
							span Participation rate
							span 99.21875%
						.witnesses-board__sidetable__row
							span Pay-per-block
							span 1.00000 BTS
						.witnesses-board__sidetable__row
							span Remaining budget
							span 1  157.00000 BTS
						.witnesses-board__sidetable__row
							span Next vote update
							span 2 hours ago
					.witnesses-board__accounts
						.container-fluid
							.row
								.col-xl-7.col-lg-6
									input(type="text" placeholder="Filter accounts...")
								.col-xl-3.offset-xl-2.offset-lg-0.col-lg-6
									.select
										span.placeholder Table view
										ul
											li(data-value='1') Table view 1
											li(data-value='2') Table view 2
											li(data-value='3') Table view 3
										input(type='hidden', name='changeme')
							.row
								.col-xl-4.col-lg-6.col-md-6.col-sm-12
									a(href="#").witness-item
										h5 #1: in.abit
										.witness-item__content
											.witness-item__pic
												img(src="img/witness_1.png", alt="").witness-item__img
											.witness-item__row
												span Votes
												span 734  407,531 BTS
											.witness-item__row.light
												span Last Block
												span in 1 second
											.witness-item__row
												span Missed
												span 769
								.col-xl-4.col-lg-6.col-md-6.col-sm-12
									a(href="#").witness-item
										h5 #2: bhuz
										.witness-item__content
											.witness-item__pic
												img(src="img/wintess_2.png", alt="").witness-item__img
											.witness-item__row
												span Votes
												span 734  407,531 BTS
											.witness-item__row.light
												span Last Block
												span in 1 second
											.witness-item__row
												span Missed
												span 769
								.col-xl-4.col-lg-6.col-md-6.col-sm-12
									a(href="#").witness-item
										h5 #3: fox
										.witness-item__content
											.witness-item__pic
												img(src="img/witness_1.png", alt="").witness-item__img
											.witness-item__row
												span Votes
												span 734  407,531 BTS
											.witness-item__row.light
												span Last Block
												span in 1 second
											.witness-item__row
												span Missed
												span 769
								.col-xl-4.col-lg-6.col-md-6.col-sm-12
									a(href="#").witness-item
										h5 #1: in.abit
										.witness-item__content
											.witness-item__pic
												img(src="img/witness_1.png", alt="").witness-item__img
											.witness-item__row
												span Votes
												span 734  407,531 BTS
											.witness-item__row.light
												span Last Block
												span in 1 second
											.witness-item__row
												span Missed
												span 769
								.col-xl-4.col-lg-6.col-md-6.col-sm-12
									a(href="#").witness-item
										h5 #2: bhuz
										.witness-item__content
											.witness-item__pic
												img(src="img/wintess_2.png", alt="").witness-item__img
											.witness-item__row
												span Votes
												span 734  407,531 BTS
											.witness-item__row.light
												span Last Block
												span in 1 second
											.witness-item__row
												span Missed
												span 769
								.col-xl-4.col-lg-6.col-md-6.col-sm-12
									a(href="#").witness-item
										h5 #3: fox
										.witness-item__content
											.witness-item__pic
												img(src="img/witness_1.png", alt="").witness-item__img
											.witness-item__row
												span Votes
												span 734  407,531 BTS
											.witness-item__row.light
												span Last Block
												span in 1 second
											.witness-item__row
												span Missed
												span 769


		include includes/footer
		//- Подключение скриптов
		include includes/scripts