doctype html
html(lang="ru-RU")
	include includes/head
	body.localcoin
		include includes/header
		main.main
			include includes/sidebar
			.content
				h2.content__heading Asset W3C
				p.content__description 1:1 OpenLenger backed W3coin, W3coins is a digital currency, based on cryptography and created through a process called 'mining'. learn more at https://w3coin.net/
				button(type="button").btn.large.inverted.marketw3c-btn Market W3C / LLC
				.table-blocks
					.table-blocks__item
						h5.table-blocks__item__heading W3C
						.table-blocks__item__row
							span Asset type
							span Simple
						.table-blocks__item__row
							span Issuer
							a(href="#") openledger-wallet
						.table-blocks__item__row
							span Precision
							span 3
						.table-blocks__item__row
							span Current supply
							span 3  001,000,000.000 W3C
						.table-blocks__item__row
							span Stealth supply
							span 0.000 W3C
						.table-blocks__item__row
							span Market fee
							span 0.2 %
						.table-blocks__item__row
							span Max market fee
							span 100  000,000,000.000 W3C
						.table-blocks__item__tags
							label.btn.orange Enable market fee
							label.btn.orange Require holders to be white-listed
							label.btn.orange Issuer may transfer asset back to himself
					.table-blocks__item
						h5.table-blocks__item__heading Permissions
						.table-blocks__item__row
							span Max market fee
							span 100  000,000,000.000 W3C
						.table-blocks__item__row
							span Max supply
							span 100  000,000,000.000 W3C
						.table-blocks__item__tags
							label.btn.orange Enable market fee
							label.btn.orange Require holders to be white-listed
							label.btn.orange Issuer may transfer asset back to himself
							label.btn.orange Disable confidential transactions
					.table-blocks__item
						h5.table-blocks__item__heading W3C
						.table-blocks__item__row
							span Core exchange rate (CER)
							span 0.00182482 
								u BTS/W3C
						.table-blocks__item__row
							span Pool balance
							span 0.00293 BTS
						.table-blocks__item__row
							span Unclaimed issuer income
							span 912  797.638 W3C
		include includes/footer
		//- Подключение скриптов
		include includes/scripts