doctype html
html(lang="ru-RU")
	include includes/head
	body.localcoin
		include includes/header
		main.main
			//- include includes/sidebar2
			.content
				h2.content__heading Top Markets
				.markets
					.container-fluid
						.row
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m-bitcoin.png", alt="")
									.markets__item__data
										h4 BTC : LLC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_eth.png", alt="")
									.markets__item__data
										h4 ETH : BTC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.success -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_steem.png", alt="")
									.markets__item__data
										h4 STEEM : BTC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_edev.png", alt="")
									.markets__item__data
										h4 EDEV : bitUSD
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.success -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_icoo.png", alt="")
									.markets__item__data
										h4 ICOO : BTC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_obits.png", alt="")
									.markets__item__data
										h4 OBITS : bitUSD
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_cvcoin.png", alt="")
									.markets__item__data
										h4 CVCOIN : BTC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_museol.png", alt="")
									.markets__item__data
										h4 MUSEOL : BTS
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m-bitcoin.png", alt="")
									.markets__item__data
										h4 BTC : LLC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_eth.png", alt="")
									.markets__item__data
										h4 ETH : BTC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.success -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_steem.png", alt="")
									.markets__item__data
										h4 STEEM : BTC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_edev.png", alt="")
									.markets__item__data
										h4 EDEV : bitUSD
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.success -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_icoo.png", alt="")
									.markets__item__data
										h4 ICOO : BTC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_obits.png", alt="")
									.markets__item__data
										h4 OBITS : bitUSD
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_cvcoin.png", alt="")
									.markets__item__data
										h4 CVCOIN : BTC
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
							.col-xl-3.col-lg-4.col-md-6
								a(href="#").markets__item
									.markets__item__img
										img(src="img/m_museol.png", alt="")
									.markets__item__data
										h4 MUSEOL : BTS
										.markets__item__row
											span Price:
											b 37.000000
										.markets__item__row
											span Volume:
											b 5.83m
										.markets__item__row
											span Change:
											b.danger -0.93%
				.negative-margins
					.container-fluid
						h2.content__heading Accounts
						.row
							.col-xl-5
								input(type="text" placeholder="Filter accounts...")
						.accounts-table-wrap
							table.accounts-table
								tr
									th: a(href="#").table-star
									th Account	
									th.right Open Orders	
									th.right Collateral	
									th.right Debt	
									th.right Total value
								tr
									td: a(href="#").table-star-default
									td: a(href="#") moon44
									td.right 0 LLC
									td.right 0 LLC
									td.right 0 LLC
									td.right 0 LLC
								tr
									td: a(href="#").table-star-default
									td: a(href="#") ninetor-dot
									td.right 23 561 LLC
									td.right 0 LLC
									td.right 0 LLC
									td.right 23 561 LLC
						h2.content__heading Recent activity
						.recently-table-wrap
							table.recently-table
								tr
									th
										.select
											span.placeholder Show all
											ul
												li(data-value='1') 1
												li(data-value='2') 2
												li(data-value='3') 3
											input(type='hidden', name='changeme')
									th Operation id
									th Info
									th
								tr
									td: label.btn.green Transfer
									td 1.11.191120260
									td 
										a(href="#") moon44 
										|sent 2  428 BTS to 
										a(href="#") localcoin
									td.right 27 days ago
								tr
									td: label.btn.green Transfer
									td 1.11.191120260
									td 
										a(href="#") moon44 
										|sent 119 230.016941 unknown.BRIDGE.LCC to 
										a(href="#") localcoin
									td.right 27 days ago
								tr
									td: label.btn.orange Cancel order
									td 1.11.191120260
									td 
										a(href="#") moon44 
										|cancelled order #70689138 
										a(href="#") localcoin
									td.right 27 days ago
								tr
									td: label.btn.green Transfer
									td 1.11.191120260
									td 
										a(href="#") moon44 
										|sent 2  428 BTS to 
										a(href="#") localcoin
									td.right 27 days ago
								tr
									td: label.btn.green Transfer
									td 1.11.191120260
									td 
										a(href="#") moon44 
										|sent 119 230.016941 unknown.BRIDGE.LCC to 
										a(href="#") localcoin
									td.right 27 days ago
								tr
									td: label.btn.orange Cancel order
									td 1.11.191120260
									td 
										a(href="#") moon44 
										|cancelled order #70689138 
										a(href="#") localcoin
									td.right 27 days ago
						a(href="#").csv-export
							img(src="img/csv.svg", alt="")
							|Download history as csv-file




		include includes/footer
		//- Подключение скриптов
		include includes/scripts