@import '../libs/bootstrap/css/bootstrap-grid.min.css'
// @import '../libs/slick/slick.css'
@import '../libs/magnific/magnific-popup.css'
@import './_vars.sass'


// Animation zoom-in

.my-mfp-zoom-in
	.zoom-anim-dialog
		opacity: 0
		-webkit-transition: all 0.2s ease-in-out
		-moz-transition: all 0.2s ease-in-out
		-o-transition: all 0.2s ease-in-out
		transition: all 0.2s ease-in-out
		-webkit-transform: scale(0.8)
		-moz-transform: scale(0.8)
		-ms-transform: scale(0.8)
		-o-transform: scale(0.8)
		transform: scale(0.8)
	&.mfp-ready .zoom-anim-dialog
		opacity: 1
		-webkit-transform: scale(1)
		-moz-transform: scale(1)
		-ms-transform: scale(1)
		-o-transform: scale(1)
		transform: scale(1)
	&.mfp-removing .zoom-anim-dialog
		-webkit-transform: scale(0.8)
		-moz-transform: scale(0.8)
		-ms-transform: scale(0.8)
		-o-transform: scale(0.8)
		transform: scale(0.8)
		opacity: 0
	&.mfp-bg
		opacity: 0
		-webkit-transition: opacity 0.3s ease-out
		-moz-transition: opacity 0.3s ease-out
		-o-transition: opacity 0.3s ease-out
		transition: opacity 0.3s ease-out
	&.mfp-ready.mfp-bg
		opacity: 0.8
	&.mfp-removing.mfp-bg
		opacity: 0








// styles for select
.input-area, .inline-label, .typeahead .typeahead__input
	height: 40px
.typeahead
	margin-right: 0
	.icon.chevron-down
		top: 12px!important
.typeahead__input
	line-height: 1.4
.typeahead .typeahead__innerList
	padding: 0
	input
		margin: 0!important
		border: 1px solid #7fafe8
		border-bottom: 0
		border-bottom-left-radius: 0!important
		border-bottom-right-radius: 0!important
		background-color: #dce6f2
		color: #00195b
		border-radius: 4px
		padding: 0 20px
		height: 40px
		font-size: 14px
	input + div[style]
		margin-top: 0!important
		background: #eef3f9
		border-bottom-left-radius: 4px
		border-bottom-right-radius: 4px
		border-left: 1px solid #7fafe8
		border-bottom: 1px solid #7fafe8
		border-right: 1px solid #7fafe8
		max-height: 200px!important
		overflow-x: hidden!important
		overflow-y: auto!important
	.typeahead__innerItem
		display: flex
		align-items: center
		justify-content: space-between
		height: 40px
		background-color: #eef3f9
		color: #00195b
		padding: 0 5px 0 20px
		cursor: pointer
		&:hover
			background: #dce6f2
			color: #00195b



div.input-wrapper div.floating-dropdown
	width: auto
	height: 40px
.dropdown-wrapper
	&:before
		position: absolute
		content: ''
		right: 14px;
		margin-top: -3.5px
		top: 50%
		display: inline-block
		margin-left: 5px
		width: 0
		height: 0
		border-style: solid
		border-width: 7px 5.5px 0 5.5px
		border-color: #001b60 transparent transparent transparent
	> div
		line-height: 1.5
	&:after
		display: none
.dropdown-wrapper.active
	&:before
		width: 0
		height: 0
		border-style: solid
		border-width: 0 5.5px 7px 5.5px
		border-color: transparent transparent #001b60 transparent
	.dropdown
		display: flex
		flex-direction: column
		left: auto
		top: 43px
		border-left: 1px solid #7fafe8
		border-right: 1px solid #7fafe8
		border-bottom: 1px solid #7fafe8
		li
			height: 40px
			color: #00195b
			cursor: pointer
			padding-left: 20px

.dropdown-wrapper>div:first-of-type
	margin-right: 20px

.dropdown-wrapper.inactive
	opacity: 0.5




body.localcoin .account-inputs .typeahead__innerList
	input
		width: 100%


.sub-content
	input
		width: 100%
		border-radius: 4px
		padding: 0 10px
		height: 40px
		background-color: #dce6f2
		color: #00195b
		font-size: 14px
		border: 1px solid #7fafe8
		&:focus
			border: 1px solid #999!important
			background-color: #fff
			color: #000



.txtlabel
	display: block
	margin-top: 2rem

.active-witness
	td
		background-color: #dce6f2 !important
	.txtlabel
		display: table-cell
		margin-top: 0



.exchange-content-header
	display: flex
	align-items: center
	background-color: #abbfd9
	min-height: 32px
	.float-right
		margin-right: 0
		margin-left: auto


.additional-account-options
	span
		a
			text-decoration: none
			span
				color: #2964fa
				&:hover
					color: #132d71
.lightTheme .stats .stressed-stat.daily_change.positive
	color: #488a00!important
.lightTheme .stats .stressed-stat.daily_change.negativ
	color: #e1424a!important
body.localcoin
	div[id^="borrow_modal"],
	#header_borrow_modal
		padding: 1rem 1.5rem
		p
			white-space: normal!important
		.modal-header
			padding-bottom: 0
			margin-bottom: 10px
		.modal-content
			padding-top: 0
			@media (max-width: 639px)
				padding: 0
		.grid-container.small-10.small-offset-1.no-overflow
			padding-top: 0
			@media (max-width: 639px)
				max-width: 100%
				margin: 0
			.amount-selector .right-label
				text-align: right
				white-space: normal
				max-width: calc(100% - 80px)
			input[type="range"]
				width: calc(100% - 60px)!important
			input[style="width: 12%; float: right; margin-top: -10px;"]
				width: 50px!important
				padding: 0 8px!important
			.float-left
				float: none!important
				white-space: normal
				line-height: 1.2
				padding-top: 2px!important
				height: auto!important
			.no-padding.grid-content.button-group.no-overflow
				padding-top: 10px!important
				display: flex
				align-items: flex-start
				.button.success
					background-color: #00195b
					color: #fff
					padding: 0 30px!important
					span
						color: #fff!important
					&:hover
						background-color: #132d71
			div:not(.inline-block.tooltip)
				padding-bottom: .5rem!important
				margin-bottom: 0!important
			label
				margin-bottom: 0!important
		h3
			margin: 0
	.main.account
		.table.proposals.compact.dashboard-table
			td
				border-bottom: 0!important
			tr:nth-child(3n)
				td
					border-bottom: 1px solid #fff!important
	.main.account .table.proposals.compact.dashboard-table td div[id$="_reject"],
	.main.account .table.proposals.compact.dashboard-table td div[id$="_approve"]
		padding: 16px 20px!important
		.modal-content
			padding: 16px!important
		.full-width-content > *
			margin-top: 10px
		.content-block:last-child
			display: flex
			align-items: center
			padding: 15px 0 0 0!important
			input
				background-color: #00195b
				margin-top: 4px
				color: #fff
				&:hover
					background-color: #132d71
			input + .button
				padding: 0 24px!important
	.main.account
		.table.proposals.compact.dashboard-table
			th
				padding: 15px 16px 5px
				background-color: #c1d0e3
			td
				background-color: #e0e8f1
				border-bottom: 1px solid #fff
				padding: 2px 16px
				div
					padding: 0!important
					margin: 0!important
			.button.primary.hollow
				margin: 0
				border-radius: 2px
				padding: 3px 7px
				font-size: 12px
				line-height: 1
				height: auto
		.col-lg-9
			min-width: 400px
			max-width: 100%
			flex: 0 0 100%
			display: flex
			align-items: center
			input[placeholder="Filter"]
				width: 100%
				max-width: 100%
				min-width: 50%
				height: 38px
				margin-left: auto
			.btn.large.inverted,
			.btn.large.outline
				height: 38px!important
				line-height: 38px!important
	.exchange-layout
		.medium-6.xlarge-4.small-12.medium-6.no-padding.align-spaced.ps-container.middle-content.order-6
			.table.order-table.text-right.fixed-table.market-right-padding
				tr
					td,
					td.orderHistoryBid
						font-weight: bold
						span
							font-weight: bold!important
						.price-integer
							color: #258a14
		form.order-form
			.grid-content.clear-fix.no-padding
				table.float-left
					width: calc(100% - 94px)
	.main
		label.btn.orange
			display: inline-block
	.options__nav .options__nav__link
		padding: 8px 0 8px 28px
	.main.account-create-asset
		.amount-selector
			.left-label
				padding: 0
	.balance .balance__list
		max-height: 50vh
		overflow-y: auto
	.balance .balance__link
		padding: 4px 44px
	.exchange-layout
		.my-order
			font-weight: bold
			*
				font-weight: bold
	.mymarkets-header.clickable
		border-bottom-color: transparent
	.mymarkets-header.clickable.inactive
		border-bottom-color: #049cce
	.options__nav__link
		line-height: 20px
		min-height: 36px
		display: flex
		align-items: center
	.options__nav__item
		min-height: 36px
		display: flex
		flex-direction: column
		justify-content: center
	.mymarkets-header.inactive
		background-color: #dce6f2
	#send_modal_header
		.dropdown
			min-width: 104px
			max-width: 104px
	.main.account .content .dashboard__actions .col-xl-9.col-lg-12
		.dashboard__actions__filters
			>div
				min-width: 280px
	.node-access-popup
		width: calc(100% + 1px)
		right: 0px
		bottom: 32px
		background: white
		border-left: 1px solid #c6c6c6
		border-right: 1px solid #c6c6c6
		border-top: 1px solid #c6c6c6
		.nodes-list .api-status
			display: flex
			width: 100%
			border-bottom: 1px solid rgba(220, 230, 242, 0.5)
			a
				margin-left: auto
				order: 2
	.__react_component_tooltip
		padding-top: 8px
		strong
			position: relative
			top: 0px
	.main.settings-reset
		.btn.large.inverted
			padding: 0!important
	.hide0balances
		display: flex
		align-items: center
		input
			display: none
		span:nth-child(2)
			display: inline-flex
			align-items: center
			position: relative
			min-width: 19px
			max-width: 19px
			width: 19px
			height: 19px
			background-color: #dce6f2
			border: 1px solid #7fafe8
			margin-right: 10px
		span.disable
			opacity: 0.5
		span:nth-child(3)
			display: inline-flex
			position: relative
			top: 1px
			line-height: 19px
			color: #001b60
		input:checked + span:nth-child(2)::before
			content: ''
			display: block
			position: absolute
			width: 14px
			height: 14px
			top: 2px
			left: 2px
			right: 0
			bottom: 0
			background-image: url("data:image/svg+xml;base64,PHN2ZyBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgZmlsbD0iIzM1NGM5YiIgdmlld0JveD0iMCAwIDI2IDI2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0uMyAxNGMtLjItLjItLjMtLjUtLjMtLjdzLjEtLjUuMy0uN2wxLjQtMS40Yy40LS40IDEtLjQgMS40IDBsLjEuMSA1LjUgNS45Yy4yLjIuNS4yLjcgMGwxMy40LTEzLjloLjFjLjQtLjQgMS0uNCAxLjQgMGwxLjQgMS40Yy40LjQuNCAxIDAgMS40bC0xNiAxNi42Yy0uMi4yLS40LjMtLjcuM3MtLjUtLjEtLjctLjNsLTcuOC04LjQtLjItLjN6Ij48L3BhdGg+PC9zdmc+")
			background-repeat: no-repeat
			background-position: center
			background-size: contain
	#sticky-table-x-wrapper
		.sticky-table-container
			width: 100%
	.main.settings-faucet-address,
	.main.settings-backup,
	.main.settings-password,
	.main.settings-wallet
		.content
			margin: 20px
	.grid-block.shrink.right-column.no-overflow.vertical.show-for-medium
		div.floating-dropdown
			height: 28px
		.dropdown-wrapper
			padding: 0 15px
			.dropdown
				top: 24px
	.mymarkets-tabs
		.mymarkets-tab
			background-color: transparent!important
			&:hover
				background-color: #dce6f2!important
			&.active
				background-color: #fff!important
	#sticky-table-column
		.sticky-table-row.transition-container.clickable
			.sticky-table-row.order-row.final-row
				.cell.orderHistoryBid.right,
				.cell.orderHistoryAsk.right
					display: none
	.main.account
		table.blue-bg.borders td, table.blue-bg.with-borders td
			border-bottom: 1px solid #fff!important
	.exchange-layout
		.sticky-table-row.exchange-sell-buy-orders
			width: 100%
			.cell.center-cell
				display: block
				width: 100%
				border-top: 1px solid #00195b
				border-bottom: 1px solid #00195b
		.mymarkets-tabs
			min-height: fit-content!important
			.mymarkets-tab
				padding: 0 5px
				margin-bottom: 0px
		.table.table-hover.text-right
			tr.clickable.activeMarket
				background-color: transparent
				td,
				span
					color: #000!important
	.main.explorer-assets
		.market-list-wrap
			table
				td
					padding: 1px 16px
					line-height: 1.5
	#sticky-table-y-wrapper
		height: calc(50vh - 55px)!important
	.__react_component_tooltip.type-light.place-right:after
		border-right-color: grey
	.__react_component_tooltip.type-light.place-top:after
		border-top-color: grey
	.__react_component_tooltip.type-light.place-left:after
		border-left-color: grey
	.__react_component_tooltip.type-light.place-bottom:after
		border-bottom-color: grey
	.navigation_account__link
		display: inline-flex
		align-items: center
	#reserve_asset
		.modal-header
			padding-bottom: 0
		.modal-content
			padding-top: 0
		form
			padding-top: 0
		h3
			margin: 0
		.grid-container
			padding-top: 1rem!important
	#transaction_confirm_modal
		.grid-content.full-width-content.form-group
			overflow: visible
		.modal-header
			padding: 0
		.grid-content.modal__header
			h3
				margin: 0
		.txtlabel
			margin-top: 5px
		.grid-block.shrink
			padding-top: 0!important
	.content
		padding: 0!important
	.negative-margins
		margin: 0!important
	#send_modal_wrapper
		.modal-header
			padding: 0
		.modal__logo
			display: none
		.content-block
			margin: 0 0 5px 0
			div + div[style="margin-top: 10px; font-size: 0.9rem; margin-left: auto; margin-right: auto;"]
				display: none

	.main.explorer-blocks
		.block-content-header
			padding: .75rem 0 .5rem 0
		.grid-block.no-overflow
			.grid-block.small-12.medium-6.vertical.no-overflow
				max-width: 65%
				flex: 0 0 65%
			.grid-block.medium-6.show-for-medium.vertical.no-overflow
				max-width: 35%
				flex: 0 0 35%
				table
					td:last-child,th:last-child
						width: 170px
						text-align: center
		.txtlabel
			margin: 0!important
		table
			td
				font-size: 12px!important
				span
					font-size: 12px!important
				a:not(.inline-block)
					color: #2964fa!important
					span
						color: #2964fa!important
	.main
		.content
			padding-top: 0
			.dashboard__tabs__item
				padding: 5px 24px 0 24px
				h4
					margin: 0
			.dashboard__table.blue-bg.with-borders
				td
					padding: 0 16px
				.dashboard__table__link img
					max-width: 20px
					margin: 4px 7px 0 0
	.main.homepage
		.content
			padding-top: 0
		.dashboard__actions
			padding: 0
			width: auto
			background: transparent
			position: absolute
			top: 0
			right: 0
			.col-xl-3.col-lg-6,
			.col-xl-9.col-lg-12
				width: 50%
				flex: 0 0 50%
				max-width: 50%
			.col-xl-3.col-lg-6
				input[type="text"]
					margin: 0
					height: 30px
					position: relative
					top: 3px
			.dashboard__actions__filters
				position: relative
				top: 16px
	#content>div
		min-height: calc(100vh - 35px)
		display: flex
		flex-direction: column
		overflow: hidden
	.modal-content
		.inline-label
			input[type="number"] + .btn.large.inverted.no-margin
				margin-left: 15px!important
		.select
			margin-bottom: 15px
		input[name="username"]
			margin-right: 0
	.main.explorer-blocks
		table
			td
				padding: 2px 0!important
				line-height: 1
				div
					padding: 0!important
	.main.explorer-markets
		.table.table-hover.text-right
			line-height: 1
	.main.explorer-witnesses,
	.main.explorer-committee-members
		.table-witnesses
			td
				padding: 5px
				line-height: 1
	.main.explorer-accounts
		table
			td,
			th
				padding: 5px
				line-height: 1
			.user
				margin-left: 0px
	.main.block
		h4.text-center
			padding: 3px 20px
		h4.text-center + ul
			li
				margin-bottom: 0
				line-height: 1
		h4.text-center + ul + div
			margin-bottom: 0!important
		.op-table
			margin-bottom: 0!important
			.txtlabel
				margin-top: 15px
			.txtlabel.warning
				display: inline-block
				color: rgb(206, 121, 37)
				padding: 2px 4px 2px 9px
				position: relative
				left: -5px
				border-radius: 2px
				line-height: 1
				background-color: rgb(220, 230, 242)
				border: 1px solid rgb(206, 121, 37)
			.txtlabel.cancel
				display: inline-block
				color: rgb(0, 25, 91)
				padding: 2px 4px 2px 9px
				position: relative
				left: -5px
				border-radius: 2px
				line-height: 1
				background-color: #dce6f2
				border: 1px solid rgb(68, 68, 68)
	.recent-transactions.no-overflow
		overflow: visible!important
		.select ul
			max-height: none
			overflow: visible
		.dashboard__table
			td
				padding: 2px 16px!important
				font-size: 13px
				span,
				div
					font-size: 13px
			div
				padding: 0!important
	.inline-block
		position: relative
	span.dynamic-tooltiptext
		display: block
		white-space: normal
		margin-left: -160px!important
		border: 1px solid grey
		background-color: #7e7e7e
		border-radius: 3px
		font-size: 13px
		line-height: 1!important
		padding: 8px 21px
		width: 320px!important
		text-align: left
	.exchange-layout
		#market-charts + .grid-block.no-overflow.wrap.shrink
			overflow: hidden
			flex-grow: 1
			display: flex
			flex-direction: column
	.main.account-localcoin-member-stats,
	.main.account-localcoin-ico-member-stats
		.table.key-value-table
			td
				line-height: 1
	.no-overflow.explorer_markets
		padding: 0!important
	.inline-block.tooltip,
	.tooltip
		position: relative
		span.dynamic-tooltiptext
			margin-left: -160px!important
			border: 1px solid grey
			background-color: #7e7e7e
			border-radius: 3px
			font-size: 13px
			line-height: 1!important
			padding: 8px 21px
			width: 320px!important
			text-align: left
	.grid-block.shrink.right-column.no-overflow.vertical.show-for-medium
		max-width: 280px!important
		min-width: 280px!important
		max-height: calc(100vh - 66px)
		.search-wrapper
			position: absolute
			max-width: 100px
			right: 16px
			top: 7px
		input[type="text"]
			height: 24px!important
			top: 0
			padding: 0 10px!important
		table.table.table-hover.text-right
			tr
				td
					padding: 5px 0!important
				td:not(:nth-child(2))
					.asset-prefix-replaced,
					.asset-prefix-replaced + span
						font-size: 9px!important
			th:last-child, td:last-child
				padding: 0
				width: 20px
			th:first-child, td:first-child
				padding-left: 1px!important
	.main.explorer-fees,
	.main.explorer-markets,
	.main.explorer-committee-members,
	.main.explorer-accounts,
	.main.explorer-assets,
	.main.explorer-blocks,
	.main.explorer-witnesses
		.content
			padding: 0!important
		.negative-margins
			padding: 0 20px
	.mymarkets-tabs
		display: flex
		flex-wrap: wrap
		margin: 20px 0 0 0
		padding: 2px 2px 0 2px
		min-height: 30px
		list-style-type: none
		background-color: #9ab1cf
		border-top-left-radius: 2px
		border-top-right-radius: 2px
		box-shadow: inset 0px -2px 2px -1px rgba(0, 25, 91, 0.35)
		.mymarkets-tab
			display: inline-flex
			align-items: center
			line-height: 1
			font-size: 14px
			color: #000000!important
			padding: 6px 14px 7px 14px
			border-top-left-radius: 2px
			border-top-right-radius: 2px
			margin: 0
			span
				color: #000000!important
		.mymarkets-tab.active
			background-color: #fff!important
	.explorer_markets
		.table.table-hover.text-right
			th
				background: transparent
				text-transform: none
	.op-table>tbody>tr>td:first-child
		width: 17rem
	.table.op-table
		td
			padding: 0 5px
		tr
			&:nth-child(even)
				background-color: #e0e8f1
	.dashboard__table.blue-bg.with-borders.dashboard-table
		td
			> div
				line-height: 1
	.order-table .cell, .order-table td, .order-table td span, .orderHistoryBid span, .orderHistoryAsk span
		font-size: 11px!important
	.asset-card
		table
			tr.highlight
				td:not(:first-child)
					background-color: #e0e8f1
			tr.highlight-all
				td
					background-color: #e0e8f1
		.card-divider
			font-family: 'osnovapro-bold',sans-serif
			color: #00195b
			margin-bottom: 0
		.card-divider + table:not([class])
			td
				padding: 5px 16px
				line-height: 1
			th:nth-child(1)
				width: 280px
			th:nth-child(2)
				width: auto
			th:nth-child(3)
				width: 825px / 3129px * 100%
			th:nth-child(4)
				width: 850px / 3129px * 100%
	.btn.large.inverted
		height: 40px!important
		line-height: 40px!important
	.footer-line
		height: 30px!important
		>.btn.large.inverted, .footer-right .btn.large.inverted, .footer-left .btn.large.inverted
			height: 30px!important
			line-height: 30px!important
			margin-right: 0
		.footer-left .btn.large.inverted
			span
				transition: all 0.3s ease 0s !important
		.footer-left .btn.large.inverted:hover
			span
				color: rgba(255, 255, 255, 0.5) !important

	.stressed-stat.hide-order-3,
	.stressed-stat.hide-order-4
		span.value.stat-primary,
		span.symbol-text
			color: #bbbf2b!important
			>span
				color: #bbbf2b!important
	.table-witnesses-wrap,
	.market-list-wrap
		table
			td.txtlabel
				max-width: none
				width: auto
				display: block
			tr:hover
				td
					background-color: #f5f5f5

	.exchange-content-header, .mymarkets-header
		padding: 2.5px 5px
		text-transform: none
	.buy-sell-input,
	.buy-sell-label,
	.buy-sell-box
		display: flex
		align-items: center
		height: auto
		input
			height: 28px
		.form-control
			color: #00195b
			font-weight: normal
	.order-form
		.vertical
			margin-bottom: 0px
		.grid-content
			display: flex
			align-items: center
		.float-right
			margin-left: 10px
			input.button
				padding: 13.6px 16px
				text-transform: uppercase
				line-height: 1

		table.float-left
			td.expiration-datetime-picker
				padding: 0
			tr:first-child
				td
					padding-top: 0
			tr
				td:first-child
					padding-left: 0
				td
					padding-top: 5px
					padding-left: 5px
					padding-right: 0
					padding-bottom: 0
					line-height: .999
					span
						font-size: 12px
					select
						height: 28px
						float: right
						width: auto
						padding: 0
						background: 0 0
						border: 0
						color: #00195b
						border-bottom: 1px dotted #a09f9f
						font-size: 12px
						height: 28px
						margin: 0 0 1px
	.exchange-bordered
		overflow: visible
	.exchange-content-header + div
		padding-right: 0!important
		width: calc(100% + 1px)
	.grid-block.shrink.left-orderbook-header.bottom-header + div
		padding-right: 0!important
		width: calc(100% + 1px)
	.marketPicker
		background-color: #fff
		width: 100%
		max-width: 400px
	.block-list header
		margin-left: 0
	.button.arrow-down
		height: auto
	section input[type=password]:active, section input[type=password]:focus, section input[type=password]:hover, section input[type=text]:active, section input[type=text]:focus, section input[type=text]:hover
		border: 1px solid #bbb
		background-color: #fff
		color: #000
	.orderbook-showall
		a
			text-decoration: none
			&:hover
				color: #132d71
			span
				color: #2964fa
	.exchange-content-header
		background-color: #abbfd9
		text-transform: none
	.exchange-content-header.bid
		border-bottom: 1px solid #fff
	.exchange-content-header.ask
		border-bottom: 1px solid #fff
	.stressed-stat
		> span
			font-size: 18px
	.label-actions
		>span
			font-size: 12px
	.exchange-layout
		.grid-block.wrap.market-stats-container
			ul.market-stats.stats.top-stats
				margin: 0
				.stressed-stat.input.clickable
					display: flex
					align-items: center
					justify-content: center
					padding: 0 4px!important
					&:hover
						background-color: rgba(220, 230, 242, 0.5)
				li
					margin: 0
					padding: 4px
					border-left: 1px solid #abbfd9
					&:last-child
						border-right: 1px solid #abbfd9
				li.stressed-stat
					display: flex
					flex-direction: column
					line-height: 1.4
					span
						font-size: 12px!important
						text-align: center
					.stat-text
						text-align: center
						order: -1
		div:first-child .exchange-bordered, div:last-child .exchange-bordered
			margin: 0
		.inline-block
			>span
				line-height: 1!important
				font-size: 14px!important
		div[class$="grid-block shrink"].grid-block.shrink
			span
				font-size: 14px!important
				line-height: 1!important
			.inline-block
				>span
					font-size: 14px!important
					line-height: 1!important
		.modal-content
			form
				.form-group + div:not([class])
					.form-group
						span
							input:first-child
								width: 13%!important
								padding: 0!important
								text-align: center!important
						span + .float-left
							float: none
				div:not([class]) + .no-padding.grid-content.button-group.no-overflow
					.button.success
						margin: 0 4px 4px 0!important
						background-color: transparent
		.transition-container
			.cell
				font-family: 'Roboto Mono', monospace!important
	.exchange-layout
		.small-12.medium-6.middle-content.order-1,
		.small-12.medium-6.middle-content.order-2,
		.medium-6.xlarge-4.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3,
		.medium-6.xlarge-4.small-12.medium-6.no-padding.align-spaced.ps-container.middle-content.order-6
			.grid-block.shrink.left-orderbook-header.market-right-padding-only
				padding-right: 13px!important
				border-bottom: 1px solid rgb(221, 221, 221)
				background-color: rgb(193, 208, 227)
				table
					th
						border: 0!important
			.exchange-content-header.bid + div,
			.exchange-content-header.ask + div
				padding-right: 9px!important
				border-bottom: 1px solid rgb(221, 221, 221)
				background-color: rgb(193, 208, 227)
				table
					th
						border: 0!important

		.table.order-table.text-right.fixed-table.market-right-padding,
		.table.order-table.table-hover.fixed-table.text-right.no-overflow
			td
				padding: 0 5px
				text-align: left!important
				font-family: 'Roboto Mono', monospace!important
				position: relative
			td.orderHistoryAsk,
			td.orderHistoryBid
				span
					font-size: 11px
		.small-12.medium-6.middle-content.order-1
			.table
				.price-integer
					color: #ea340b
		.small-12.medium-6.middle-content.order-2
			.table
				.price-integer
					color: #258a14
		.medium-6.xlarge-4.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3,
		.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3
			.table
				.price-integer
					color: #258a14
	.exchange-layout
		.table.table-hover.text-right
			tr
				td
					font-size: 12px
					span
						font-size: 11px!important
				td.text-right
					font-family: 'Roboto Mono', monospace!important
	.float-right.buy-sell-deposit
		margin: 0 0 0 auto
		a
			text-decoration: none
			&:hover
				color: #132d71
			span
				color: #2964fa
	.grid-block.main-content.vertical.no-overflow
		overflow-y: auto
	.change-up
		color: #258a14
	.change-down
		color: #ea340b
	.market-stats.stats.top-stats
		margin-bottom: 0
	// overflow
	// .main
	// 	height: auto
	// .grid-block.vertical
	// 	height: calc(100vh - 80px)
	.exchange-layout
		overflow: hidden
		height: calc(100vh - 65px)
		.inline-block.tooltip
			position: relative
			span.dynamic-tooltiptext
				margin-left: -160px!important
				border: 1px solid grey
				background-color: #7e7e7e
				border-radius: 3px
				font-size: 13px
				line-height: 1!important
				padding: 8px 21px
				width: 320px!important
				text-align: left
		.grid-block.no-overflow.wrap.shrink
			display: flex
			align-items: stretch
		.right-column
			>.grid-block
				overflow: hidden
		.grid-block,.grid-content
			overflow: visible
			position: relative
		.grid-block.no-overflow.wrap.shrink,
		.grid-block.shrink.no-overflow,
		.grid-block.no-overflow.wrap.shrink.switch
			background-color: #fff

		.grid-block.small-4.no-margin.no-overflow.buy-sell-label
			span
				line-height: 1.0


	.cell.orderHistoryAsk.right
		.price-integer
			color: #ea340b
	.cell.orderHistoryBid.right
		.price-integer
				color: #258a14
	.orderHistoryCall
		.price-integer
			color: #bbbf2b
	.left-order-book .cell
		padding: 0 15px 0 0px
		font-size: 12px
		color: #00195b

	.cell.center-cell
		background-color: #abbfd9
	.v-align.no-padding.align-center.grid-block.footer.shrink.bottom-header
		background-color: #aabfd9
	.icon.thumb-untack,
	.order-book-button-v
		cursor: pointer
	#transaction_confirm_modal
		.modal h3
			margin: 0!important
		.grid-content.modal__header,
		.grid-block.vertical.no-padding.no-margin
			min-height: 1px!important
	.typeahead + .btn
		margin-left: 10px
	.small-12.grid-content
		overflow: visible
	.asset-selector[style]
		padding-right: 0!important
	.modal
		max-width: 600px
	.page-header + .content-block
		> span
			display: flex
			flex-wrap: wrap
			.grid-block
				width: 100%
	.hide-order-1.stressed-stat.daily_change.positive
		span
			color: #488a00!important
			b
				color: #488a00!important
	.hide-order-1.stressed-stat.daily_change.negative
		span
			color: #e1424a!important
			b
				color: #e1424a!important
	.medium-6.xlarge-4.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3,
	.medium-6.xlarge-4.small-12.medium-6.no-padding.align-spaced.ps-container.middle-content.order-6
		height: auto
		.exchange-bordered.small-12[style]
			height: 100%!important
			.table-container.grid-block.market-right-padding-only.no-overflow.ps-container.ps-theme-default[style]
				max-height: 255px!important
				table
					tr:hover
						td
							background-color: #f5f5f5!important
	.medium-6.xlarge-4.small-12.medium-6.no-padding.align-spaced.ps-container.middle-content.order-6
		height: auto
		margin-bottom: 10px!important
		.exchange-bordered.small-12[style]
			height: 100%!important
			.table-container.grid-block.market-right-padding-only.no-overflow.ps-container.ps-theme-default[style]
				max-height: 255px!important
				table
					tr:hover
						td
							background-color: #f5f5f5!important
	.table-witnesses
		.txtlabel
			margin: 0
	.voting-container
		table
			thead
				tr:nth-child(2)
					th[style]:not([class])
						display: none
		.col-xl-3.col-lg-6
			.account-inputs.account-selector
				width: 100%!important
				max-width: none!important
				min-width: 220px!important
		.dashboard__actions
			.row
				.col-xl-9.col-lg-12
					display: flex
					align-items: center

#unlock_wallet_modal2 form div.has-error
	width: 210px!important
	span
		display: inline-block
		width: 100%
#unlock_wallet_modal2
	border-radius: 4px
	max-width: 500px
	width: 100%
	overflow: hidden!important
	input:not(input[type="checkbox"])
		width: 100%
		border-radius: 4px!important
		padding: 0 10px
		height: 40px
		background-color: #dce6f2
		color: #00195b
		font-size: 14px!important
		border: 1px solid #7fafe8
		&:focus
			border: 1px solid #999!important
			background-color: #fff
			color: #000
	.input-area:not(.content-block) + .has-error
		top: -7px
		color: #a94442!important
		span
			color: #a94442!important
	.login-type-selector
		margin-bottom: 0
	.modal-header
		padding-bottom: 0
	hr
		margin: 0
	.modal-content
		padding-top: 0
	form
		padding-top: 0
		label
			margin-bottom: 0!important
			padding-bottom: 0!important
		.has-error
			margin: .5rem 0!important
			position: relative
			top: 6px
#ws_modal_add
	.with-dropdown
		border: 0!important
		input
			max-width: none!important
		label
			color: #00195b!important
			&:hover
				background-color: transparent
#help + ul
	overflow-x: hidden
	li
		position: relative
		z-index: 1
		&:before
			content: ''
			position: absolute
			top: 0
			left: -20px
			right: 0
			bottom: 0
			background-color: transparent
			height: 36px
			width: calc(100% + 40px)
			z-index: -1
		a
			position: relative
	li:hover
		&:before
			background-color: #fff


body.localcoin .footer-info
	position: relative

body.localcoin
	.proposals
		.proposal.first
			padding-top: 0
		td
			padding-bottom: 0
			>*:not(.button):not(.modal),
			.root-status
				padding: 0!important
				line-height: 1
				margin: 0!important
			hr
				background-color: #c1d0e3
	.exchange-layout .medium-6.xlarge-4.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3 .grid-block.shrink.left-orderbook-header.market-right-padding-only
		table
			th:last-child
				width: 65px!important
			th:first-child
				padding: 5px 15px!important
				// width: 90px!important
	.exchange-layout .table.order-table.text-right.fixed-table.market-right-padding:not(.open-orders__table)
			td:last-child
				width: 70px!important
			td:first-child
				padding: 0px 5px!important
				// width: 90px!important
	.service-selector + div.tab-content.grid-block.padding-top.shrink.small-vertical.medium-horizontal
		margin: 0!important
	.service-selector + div
		.small-12.large-8.large-offset-2.grid-content
			.grid-content.has-error
				display: flex
				width: 100%
				max-width: none
				margin: 20px 0 10px 0
	.service-selector
		margin-bottom: 15px!important
		ul.button-group.no-margin.account-overview.bordered-header.content-block
			display: flex
			position: relative
			background-color: #9bb2cf
			border-top-left-radius: 2px
			border-top-right-radius: 2px
			box-shadow: inset 0px -2px 2px -1px rgba(0,25,91,0.35)
			li
				display: flex
				position: relative
				flex-direction: column
				align-items: flex-end
				padding: 15px 24px
				cursor: pointer
				margin: 0!important
				a
					padding: 0!important
					margin: 0!important
					line-height: 1!important
					background-color: transparent!important
					border: 0!important
				&:after
					content: ''
					position: absolute
					right: -1px
					top: 0
					bottom: 0
					margin: auto
					width: 1px
					height: 42px
					background-color: #cdd9e7
					z-index: 1
				&:first-child
					border-top-left-radius: 2px
					&:before
						box-shadow: none!important
				&:last-child
					&:after
						display: none
				.tab-title
					display: inline-block
					position: relative
					z-index: 3
					font-size: 18px
					font-family: 'osnovapro-bold',sans-serif
					font-weight: 700
					color: #00195b
					line-height: 1.4
					margin-top: .2rem
					margin-bottom: .5rem
			li.is-active
				box-shadow: 3px 0px 1px -2px rgba(0,25,91,0.35)
				&:after
					right: 0
				&:before
					content: ''
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					background-color: #c1d0e3
					z-index: 2
					box-shadow: -3px 0px 1px -2px rgba(0,25,91,0.35)
			li.tabs-action-buttons
				position: absolute
				right: 12px
				top: 0
				bottom: 0
				padding: 0!important
				>div
					display: flex
					align-items: center
					height: 100%
				.button
					white-space: nowrap
body.localcoin .exchange-layout
	.medium-6.xlarge-4.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3,
	.medium-6.xlarge-4.small-12.medium-6.no-padding.align-spaced.ps-container.middle-content.order-6
		.table.order-table.text-right.fixed-table.market-right-padding
			th
				padding: 5px!important
				text-transform: none
				span
					text-transform: none
	.order-3.xlarge-order-4.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8
		.table.order-table.table-hover.fixed-table.text-right.no-overflow,
		.table.order-table.table-hover.fixed-table.text-right.no-overflow,
			tr:nth-child(odd)
				background-color: rgba(220,230,242, .5)
			th
				padding: 5px!important
				text-transform: none
				span
					text-transform: none
	.table.order-table.text-right.fixed-table.market-right-padding
		tr:nth-child(odd)
			background-color: rgba(220,230,242, .5)
		th
			padding: 5px!important
			text-transform: none
			span
				text-transform: none
	.top-header
		th
			text-transform: none!important
			span
				text-transform: none!important

body.localcoin .exchange-layout .order-3.xlarge-order-4.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8 .table.order-table.table-hover.fixed-table.text-right th,
body.localcoin .exchange-layout .order-1.xlarge-order-1.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8 .table.order-table.table-hover.fixed-table.text-right th,
	padding: 5px!important


body.localcoin .exchange-layout
	.grid-block.shrink.right-column.no-overflow.vertical.show-for-medium
		.mymarkets-tabs
			margin-top: 0!important
			max-height: 15px
			min-height: 15px
			li
				.asset-prefix-replaced,
				.asset-prefix-replaced + span
					font-size: 12px!important
		.grid-block.shrink.left-orderbook-header.bottom-header + div
			padding-top: 0.25rem!important
			table
				td
					label
						margin-bottom: 0
						line-height: 1
			.header-area
				label
					margin-bottom: 0
					line-height: 1
			.asset-selector
				padding-bottom: 0rem!important
				.input-area, .inline-label, .typeahead .typeahead__input
					height: 28px
		.table.table-hover.text-right
			td
				padding: 0!important
				line-height: 1

body.localcoin .exchange-layout .grid-block.wrap.market-stats-container ul.market-stats.stats.top-stats li.stressed-stat.input.clickable
	border-right: 0!important

@media only screen and (min-width: 1680px)
	body.localcoin
		.main.account-voting-account-votes-workers-short
			.voting-container .col-xl-3.col-lg-6 .account-inputs.account-selector
				max-width: 350px!important
			.dashboard__actions__filters
				position: absolute
				top: -27px
				left: 800px
			.dashboard__actions__filters + .btn.large.inverted
				position: absolute
				top: -46px
				left: 1038px
			.voting-container .dashboard__tabs.dashboard__tabs.permissions.small+div .col-xs-12 span[style="float: right;"]
				right: auto!important
				left: 1255px!important
				top: -45px!important
		.main.account-voting-account-votes-workers-short
			.content
				padding-top: 0
			.dashboard__actions
				padding: 0
				.account-inputs.account-selector
					position: absolute
					top: -45px
					right: -60px
		.main[class*="acc-voting"],
		.main.account-voting,
		.main.account-voting-explorer-witnesses-title,
		.main.account-voting-explorer-committee-members-title,
		.main.account-voting-account-votes-workers-short
			.content
				padding-top: 0
			.dashboard__actions
				padding: 0
				.account-inputs.account-selector
					position: absolute
					top: -45px
					right: -60px
		.main.account-voting,
		.main.account-voting-explorer-witnesses-title,
		.main.account-voting-explorer-committee-members-title,
		.main.account-voting-account-votes-workers-short
			.col-xl-3.col-lg-6,
			.col-xl-9.col-lg-12,
			.col-xs-12
				flex: 0 0 100%
				max-width: 100%
			.col-xs-12
				span[style="float: right;"]
					position: absolute
					width: auto
					top: -45px
					left: 1255px
			.dashboard__actions
				.col-xl-3.col-lg-6
					position: unset
					span[style="float: right;"]
						right: auto!important
						left: 800px!important
				.account-inputs.account-selector
					left: 20px
					right: auto
					min-width: 350px
			.dashboard__tabs
				padding-left: 385px

@media only screen and (max-width: 1680px)
	// body.localcoin .voting-container .dashboard__tabs.dashboard__tabs.permissions.small+div .col-xs-12 span[style="float: right;"]
	// 	position: relative
	// 	top: 0
	// 	right: 0
	// 	background-color: #c1d0e3
	// 	float: left!important
	// body.localcoin .voting-container .dashboard__tabs.dashboard__tabs.permissions.small+div .col-xs-12
	// 	width: 100%
	// 	background-color: #c1d0e3
	// 	padding: 10px 0 0 20px
	// body.localcoin .voting-container .dashboard__actions .row .dashboard__actions__filters+button
	// 	position: absolute
	// 	top: -64px
	// 	left: 0
	// body.localcoin .voting-container .dashboard__actions
	// 	.col-xl-3.col-lg-6,
	// 	.col-xl-9.col-lg-12
	// 		max-width: 50%
	// 		width: 100%
	// 		flex: 0 0 50%
	// 		>div
	// 			width: 100%!important
	// 			max-width: none!important
	body.localcoin
		.main.account-voting-explorer-committee-members-title,
		.main.account-voting-explorer-witnesses-title,
		.main.account-voting
			.voting-container .dashboard__tabs.dashboard__tabs.permissions.small+div .col-xl-3.col-lg-6 span[style="float: right;"]
				position: relative!important
				top: 0!important
				left: 0!important
				right: 0!important
@media only screen and (max-width: 1640px)
	body.localcoin .main.account-localcoin-ico .content .dashboard__actions, body.localcoin .main.account .content .dashboard__actions
		position: relative
		right: 0
		top: 0
		width: 100%
		background: #c1d0e3
		padding: 6px 0 0 0
@media only screen and (max-width: 1450px)
	body.localcoin
		.exchange-layout .medium-6.xlarge-4.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3 .grid-block.shrink.left-orderbook-header.market-right-padding-only
			table
				th:last-child
					width: 65px!important
				th:first-child
					padding: 5px 15px!important
					// width: 90px!important
		.exchange-layout .table.order-table.text-right.fixed-table.market-right-padding:not(.open-orders__table)
			td:first-child
				padding: 0px 5px!important
					// width: 90px!important

@media only screen and (max-width: 1200px)
	body.localcoin
		.main.homepage
			.dashboard__actions__filters
				top: -6px!important
	body.localcoin
		.exchange-layout
			.order-book-button-v
				display: none!important
		.main.account-member-stats
			.grid-content .grid-block
				margin: 0
			.grid-content
				padding-right: 0!important
	body.localcoin .main.account-localcoin-ico .content .dashboard__actions, body.localcoin .main.account .content .dashboard__actions
		.row
			display: flex
			flex-direction: column
	body.localcoin .main.account-localcoin-ico .content .dashboard__actions .col-xl-3.col-lg-6, body.localcoin .main.account-localcoin-ico .content .dashboard__actions .col-xl-9.col-lg-12, body.localcoin .main.account .content .dashboard__actions .col-xl-3.col-lg-6, body.localcoin .main.account .content .dashboard__actions .col-xl-9.col-lg-12
		width: 100%
		max-width: 100%
		flex: 0 0 100%

@media only screen and (min-width: 1101px)
	body.localcoin .exchange-layout
		.main.market.left-cell-active
			#CenterContent
				>.grid-block.no-overflow.wrap.shrink
					flex-grow: 1
					.small-12.no-padding.middle-content.medium-6.order-1.buy-form,
					.small-12.no-padding.middle-content.medium-6.order-2.sell-form
						max-height: 250px
					.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3,
					.small-12.medium-6.no-padding.align-spaced.ps-container.middle-content.order-6
						height: calc(100vh - 830px)
						min-height: 336px
						.exchange-bordered.small-12
							height: 100%!important
							overflow: hidden
							.table-container.grid-block.market-right-padding-only.no-overflow.ps-container.ps-theme-default
								max-height: none!important
								height: calc(100% - 70px)!important
			.medium-6
				flex: 0 0 50%!important
				max-width: 50%!important
		.small-12.no-padding.middle-content.medium-6.xlarge-4.order-1.buy-form
			.exchange-bordered.buy-sell-container
				height: 250px
		.small-12.no-padding.middle-content.medium-6.xlarge-4.order-2.sell-form
			.exchange-bordered.buy-sell-container
				height: 250px
		.grid-block.shrink.no-padding.overflow-visible.top-bar
			width: calc(100% - 280px)
		.grid-block.shrink.no-padding.overflow-visible.top-bar.left-cell-active
			width: calc(100% - 535px)
			margin-left: 257px
		.grid-block.shrink.right-column.no-overflow.vertical.show-for-medium
			margin-top: -42px
		// .grid-block.left-column.shrink.no-overflow
		// 	margin-top: -42px
		.order-3.xlarge-order-4.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8,
		.order-1.xlarge-order-1.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8,
			.table.order-table.table-hover.fixed-table.text-right.no-overflow,
			.table.order-table.table-hover.fixed-table.text-right.no-overflow,
			.table.order-table.table-hover.fixed-table.text-right
				td,th
					width: 50%!important
				td:last-child,
				th:last-child
					text-align: left!important
					width: 90px!important
		.medium-6.xlarge-4.small-12.medium-6.no-padding.align-spaced.ps-container.middle-content.order-6
			margin-bottom: 0!important
		.small-12.no-padding.middle-content.medium-6.xlarge-4.order-1.buy-form,
		.small-12.no-padding.middle-content.medium-6.xlarge-4.order-2.sell-form,
		.medium-6.xlarge-4.no-padding.no-overflow.middle-content.small-12.medium-6.order-5.xlarge-order-3
			max-height: 250px!important
		.order-3.xlarge-order-4.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8
			.small-12.medium-6.middle-content.order-1,
			.small-12.medium-6.middle-content.order-2
				margin-bottom: 0!important
			.exchange-bordered
				display: flex
				flex-direction: column
				height: 100%!important
				.grid-block.ps-container.ps-theme-default
					max-height: 100%!important
					display: flex
					flex-direction: column
				.orderbook-showall
					margin-top: auto
	.exchange-layout
		.order-1.xlarge-order-1.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8
			.small-12.medium-6.middle-content.order-1,
			.small-12.medium-6.middle-content.order-2
				flex: 0 0 50%!important
				max-width: 50%!important
		.exchange-bordered
			border-right: 0
		.medium-6
			flex: 0 0 33.33333%!important
			max-width: 33.33333%!important
		.order-3.xlarge-order-4.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8,
		.order-1.xlarge-order-1.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8
			flex: 0 0 66.6666%!important
			max-width: 66.6666%!important
			.medium-6
				flex: 0 0 50%!important
				max-width: 50%!important
@media only screen and (max-width: 1100px)
	body.localcoin .exchange-layout
		.grid-block.ps-container.ps-theme-default.ps-active-y
			flex-direction: column
		.order-3.xlarge-order-4.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8
			.table.order-table.table-hover.fixed-table.text-right.no-overflow,
			.table.order-table.table-hover.fixed-table.text-right.no-overflow,
			.table.order-table.table-hover.fixed-table.text-right
				td,th
					width: 33.3333%!important
				td:last-child,
				th:last-child
					text-align: left!important
					width: 33.3333%!important
	.exchange-layout
		.medium-6
			flex: 0 0 100%!important
			max-width: 100%!important
		.order-3.xlarge-order-4.grid-block.orderbook.no-padding.small-vertical.medium-horizontal.align-spaced.no-overflow.small-12.xlarge-8
			flex: 0 0 100%!important
			max-width: 100%!important
			.medium-6,
			.exchange-bordered.small-12
				flex: 0 0 100%!important
				min-height: 260px
				max-width: 100%!important
@media only screen and (max-width: 1440px) and (min-width: 1000px)
	body.localcoin .exchange-layout
		.small-12.no-padding.middle-content.medium-6.xlarge-4.order-1.buy-form,
		.small-12.no-padding.middle-content.medium-6.xlarge-4.order-2.sell-form
			.asset-prefix-replaced,
			.asset-prefix-replaced + span,
			.grid-block.small-4.no-margin.no-overflow.buy-sell-box
				font-size: 11px!important
				white-space: normal
				word-break: break-word
				line-height: 1
		.small-12.no-padding.middle-content.medium-6.order-1.buy-form,
		.small-12.no-padding.middle-content.medium-6.order-2.sell-form
			.grid-block.small-4.no-margin.no-overflow.buy-sell-box,
			.asset-prefix-replaced,
			.asset-prefix-replaced + span
				font-size: 11px!important
				white-space: normal
				word-break: break-word
				line-height: 1
		.medium-6.xlarge-4.small-12.medium-6.no-padding.align-spaced.ps-container.middle-content.order-6
			order: 5!important
	body.localcoin .exchange-layout
		.exchange-content-header.bid
			min-height: 32px
		.table.order-table.table-hover.fixed-table.text-right,
		.table.order-table.text-right.fixed-table.market-right-padding
			span
				font-size: 11px!important
		// .table.order-table.table-hover.fixed-table.text-right.no-overflow
		// 	td.orderHistoryAsk
		// 		span
		// 			font-size: 11px!important
		// .table.order-table.table-hover.fixed-table.text-right.no-overflow
		// 	td.orderHistoryBid
		// 		span
		// 			font-size: 11px!important
		.mymarkets-header
			span
				font-size: 12px
		.exchange-content-header
			font-size: 12px
			.float-right.clickable.hide-for-xlarge
				padding-left: 0!important
			.inline-block>span
				font-size: 12px!important
		.float-right.header-sub-title
			font-size: 10px
			margin-right: 0
			margin-left: auto
			.inline-block.tooltip
				font-size: 10px
	body.localcoin .exchange-layout .float-right.header-sub-title .inline-block>span
		font-size: 10px!important

@media only screen and (max-width: 1020px)
	body.localcoin
		.main.homepage
			.dashboard__actions__filters
				top: -6px!important
	body.localcoin .main.homepage .dashboard__actions
		position: relative
		background: #c1d0e3


@media only screen and (max-width: 1000px)
	.node-access-popup
		display: none

@media only screen and (max-width: 850px)
	body.localcoin .dashboard__actions__filters label.radio
		margin: 4px 20px 4px 0
	body.localcoin .dashboard__actions__filters
		display: flex
		flex-direction: row
		flex-wrap: wrap

@media only screen and (max-width: 640px)
	body.localcoin
		#account_login_button
			width: auto
		.main.account-create-asset
			.amount-selector
				padding: 0!important
				margin: 5px 0
		.main.account
			.col-lg-9
				min-width: 200px
				max-width: 100%
				flex: 0 0 100%
				display: flex
				align-items: flex-start
				flex-direction: column
				input[placeholder="Filter"]
					width: 100%
					max-width: 100%
					min-width: 100%
					height: 38px
					margin-bottom: 5px!important
				.btn.large.inverted,
				.btn.large.outline
					height: 38px!important
					line-height: 38px!important

@media only screen and (max-width: 480px)
	body.localcoin .main.homepage .dashboard__actions
		.row
			.col-xl-3.col-lg-6
				width: 100%
				flex: 0 0 100%
				max-width: 100%
	body.localcoin .voting-container .dashboard__actions
		.col-xl-3.col-lg-6,
		.col-xl-9.col-lg-12
			width: 100%
			max-width: 100%
			flex: 0 0 100%
			flex-direction: column
			align-items: flex-start!important
	body.localcoin .voting-container .dashboard__actions .row .dashboard__actions__filters+button
		position: relative
		top: 0
		left: 0
		margin: 15px 0
		min-height: 48px
	body.localcoin
		.main.account-voting-explorer-committee-members-title,
		.main.account-voting-explorer-witnesses-title,
		.main.account-voting
			.voting-container .dashboard__tabs.dashboard__tabs.permissions.small+div .col-xl-3.col-lg-6 span[style="float: right;"]
				float: none!important
				margin: 15px 0 0 0
				display: block

@media only screen and (max-width: 340px)
	body.localcoin
		.grid-block.shrink.no-padding.overflow-visible.top-bar.container-menu-header
			border-bottom: 1px solid #abbfd9
			>.grid-block.overflow-visible
				display: flex
				flex-direction: column
				.grid-block.shrink
					>div
						display: flex
						justify-content: center
						width: 100%
						border-bottom: 1px solid #abbfd9
		.grid-block.account-login-options
			display: flex
			flex-direction: column
			margin: 0
			#account_login_button,
			#account_login_button2
				width: 100%

body.localcoin .exchange-layout .grid-block.left-column.shrink.no-overflow
	margin-top: -42px

body.localcoin .table-container.grid-block.vertical.mymarkets-list.explorer-markets
	flex-grow: 1


@media only screen and (max-width: 500px)
	body.localcoin #transaction_confirm_modal
		.grid-block.vertical.no-padding.no-margin
			>.grid-block.shrink
				flex-direction: column
			.button-group
				order: 2
	.modal.buy-table-modal .small-6
		float: none!important
		width: 100%!important
		flex: 0 0 100%
		max-width: 100%
@media only screen and (max-width: 640px)
	body.localcoin .exchange-layout .grid-block.main-content.vertical.no-overflow
		height: auto
@media only screen and (max-width: 480px)
		body.localcoin .change-pair
			padding: 0!important
@media only screen and (max-width: 576px)
	body.localcoin .close-button
		font-size: 50px!important
	.top-stats li
		min-height: 36px
