footer.footer
	.footer-line
		.footer-info
			span.footer-info__status connected
			span.footer-info__data latency 478ms / head block #27485593
		button(type="button").btn.large.inverted.flat.support-btn Support
