header.header
	.container-fluid
		.mobile
			span.mobile__burger
				span
			.mobile__menu
				span.mobile__menu__close
				ul.mobile__list
					li.mobile__list__item
						a(href="#").mobile__list__link Create Account
					li.mobile__list__item
						a(href="#").mobile__list__link Send
					li.mobile__list__item
						a(href="#").mobile__list__link Deposit/Withdraw
					li.mobile__list__item
						a(href="#").mobile__list__link Explore
					li.mobile__list__item
						a(href="#").mobile__list__link Settings
				label.mobile__accounts Accounts
		.header-line
			.logo
				img(src="img/logo.svg", alt="logo")
			nav.navigation
				ul.navigation__list
					li.navigation__item.active
						a(href="#").navigation__link Account
					li.navigation__item
						a(href="#").navigation__link Exchange
					li.navigation__item
						a(href="#").navigation__link Deposit/Withdraw
					li.navigation__item
						a(href="#").navigation__link OTC
			.balance
				span.balance__label Balance: 0
				ul.balance__list
					li.balance__item.active
						a(href="#").balance__link LLC
					li.balance__item
						a(href="#").balance__link BTC
					li.balance__item
						a(href="#").balance__link XCR
					li.balance__item
						a(href="#").balance__link ETH
			.user
				img(src="img/user.png", alt="user").user__icon
				span.user__name Ninetor-dot
			a(href="#").settings
				img(src="img/settings.svg", alt="settings").settings__icon
			a(href="#").lock
				img(src="img/lock.svg", alt="lock").lock__icon