head
  meta(charset="utf-8")
  title #{title}
  meta(name="description" content="")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  //- Chrome, Firefox OS and Opera
  meta(name="theme-color" content="#000")
  //- Windows Phone
  meta(name="msapplication-navbutton-color" content="#000")
  //- iOS Safari
  meta(name="apple-mobile-web-app-status-bar-style" content="#000")
  
  <style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>
  
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->