link(rel="stylesheet" href="css/main.css")
//- link(rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css")
script(src="libs/jquery/jquery-3.2.1.min.js")
//- script(src='libs/clamp/clamp.min.js')
//- script(src='libs/slick/slick.min.js')
script(src='libs/magnific/jquery.magnific-popup.min.js')
script(src="js/common.js")
