.sidebar
	ul.sidebar__menu
		li.sidebar__menu__item.noborder
			a(href="#").sidebar__menu__link
				b Table of Contents
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link
		li.sidebar__menu__item.noborder
			a(href="#").sidebar__menu__link Introduction
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Glossary
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link BitShares
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Wallet
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Backups
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Blockchain
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Witness
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Workers
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Committe Member
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Accounts
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Permissions
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Memberships
		li.sidebar__menu__item
			a(href="#").sidebar__menu__link Market Pegged Assets (BitUSD, BitEUR, 