/* Page404 */
.page-404 {
    margin: 0 auto;
    margin-top: 30px;
}
/* /Page404 */

/* Header-список-валют  */
.balance__label .total-value span {
    color: #fff;
}
.balance__label:after {
    background-image: none !important;
}
/* /Header-список-валют  */

.settings .balance__link {
    text-transform: none !important;
}

.dashboard__table tr:first-child {
    border-bottom: none !important;
}

.localcoin .content:before {
    background-image: none !important;
}

.header-line .logo,
footer .footer-line .footer-info__status {
    cursor: pointer !important;
}
/* ======================================== */

.sidebar .help-content {
    font-size: 15px;
}
.sidebar .help-content ul {
    list-style: none;
    padding: 0;
}
.sidebar .help-content > ul {
    margin: 20px 0 0 0;
}

.sidebar .help-content h4 {
    padding: 0px 20px;
    line-height: 36px;
    margin: 20px 0 -20px 0;
}

.sidebar .help-content ul li {
    padding: 0 20px;
    line-height: 36px;
    margin: 0;
}

.sidebar .help-content > ul > li {
    border-top: 1px solid #f0f4f8;
}

.sidebar .help-content ul li {
    background-color: #e0e8f1;
}

.sidebar .help-content ul li ul {
    margin: 0;
}

.balance__label span,
.inverted span {
    color: #fff;
}

.btn {
    text-transform: none;
}

.sidebar__qr .account-image {
    height: 116px;
}

.sidebar__qr canvas {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.dashboard__tabs__item.active:before {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.icon svg path {
    fill: #00195b !important;
}

label.radio .radio__label,
label,
.checkbox__label {
    text-transform: none !important;
}

.dashboard__actions__filters {
    margin-top: -10px;
}

.switch input:checked + label {
    background: #195d0e;
}

.switch input:checked + label::after {
    border-color: #2ba017;
    background: #2ba017;
}

.table-witnesses a > span {
    color: #2964fa;
}

.markets-list li {
    cursor: pointer;
}

textarea,
textarea:hover,
[type="number"],
.typeahead__input {
    background-color: #dce6f2 !important;
    color: #00195b !important;
    font-size: 15px !important;
    border: 1px solid #7fafe8 !important;
}

.typeahead {
    margin-right: 10px;
}

#content > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
