.order-table td,
.order-table .cell {
    font-size: 11px !important;
}
/* help-sidebar */
.help-content li.active:before {
    background-color: #fff !important;
}
/* /help-sidebar */

/* colors */
.txtlabel.warning {
    color: #f35b92;
}
.txtlabel.info {
    color: #ce7925;
}
.txtlabel.success {
    color: #21d19f;
}
/* /colors */

/* Page404 */
.page-404 {
    margin: 0 auto;
    margin-top: 30px;
}
/* /Page404 */

/* Header-список-валют  */
.balance__label .total-value span {
    color: #fff;
}
.balance__label:after {
    background-image: none !important;
}
/* /Header-список-валют  */

.settings .balance__link {
    text-transform: none !important;
}

.dashboard__table tr:first-child {
    border-bottom: none !important;
}

.localcoin .content:before {
    background-image: none !important;
}

.header-line .logo,
footer .footer-line .footer-info__status {
    cursor: pointer !important;
}

[data-clipboard-text] .icon svg {
    display: block !important;
}
[data-clipboard-text] .icon svg path {
    fill: #fff !important;
}

#account_login_button {
    background-color: #00195b;
    border-radius: 4px;
}
#account_login_button:hover {
    background-color: #132d71;
}
#account_login_button2:hover {
    background: none;
    background-color: #eef3f9;
}
/* ======================================== */

.sidebar .help-content {
    font-size: 15px;
}
.sidebar .help-content ul {
    list-style: none;
    padding: 0;
}
.sidebar .help-content > ul {
    margin: 20px 0 0 0;
}

.sidebar .help-content h4 {
    padding: 0px 20px;
    line-height: 36px;
    margin: 20px 0 -20px 0;
}

.sidebar .help-content ul li {
    padding: 0 20px;
    line-height: 36px;
    margin: 0;
}

.sidebar .help-content > ul > li {
    border-top: 1px solid #f0f4f8;
}

.sidebar .help-content ul li {
    background-color: #e0e8f1;
}

.sidebar .help-content ul li ul {
    margin: 0;
}

.balance__label span,
.inverted span {
    color: #fff;
}

.btn {
    text-transform: none;
}

.sidebar__qr .account-image {
    height: 116px;
}

.sidebar__qr canvas {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.dashboard__tabs__item.active:before {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.icon svg path {
    fill: #00195b !important;
}

label.radio .radio__label,
label,
.checkbox__label {
    text-transform: none !important;
}

.dashboard__actions__filters {
    margin-top: -10px;
}

.switch input:checked + label {
    background: #195d0e;
}

.switch input:checked + label::after {
    border-color: #2ba017;
    background: #2ba017;
}

.table-witnesses a > span {
    color: #2964fa;
}

.markets-list li {
    cursor: pointer;
}

textarea,
textarea:hover,
[type="number"],
.typeahead__input {
    background-color: #dce6f2 !important;
    color: #00195b !important;
    font-size: 15px !important;
    border: 1px solid #7fafe8 !important;
}

.typeahead {
    margin-right: 10px;
}

#content > div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.help-content > h4,
.grid-content > h4 {
    padding: 17px 20px;
    background-color: #c1d0e3;
    border-radius: 2px;
    margin: 0 0 18px;
}

[data-tip] .dynamic-tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 3000;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

[data-tip] .dynamic-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

[data-tip]:hover .dynamic-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.checkbox > .checkbox__styled {
    cursor: pointer;
}

a.navigation__link.navigation__item {
    height: 35px;
    margin: 0;
}

.account-image > canvas {
    margin-top: 6px;
}

.exchange-sell-orders {
}

.exchange-buy-orders {
}

.order-table-container.exchange-buy-orders,
.order-table-container.exchange-sell-orders {
    height: calc(50vh - 75px);
}

main.account-member-stats > .content,
main.account-assets > .content,
main.account-vesting > .content,
main.deposit-withdraw > .content,
main.settings-general > .content,
main.settings-accounts > .content,
main.settings-restore > .content,
main.settings-access > .content,
main.settings-faucet_address > .content,
main.settings-reset > .content,
main.help > .content,
main[class^="help-"] > .content,
main[class*="help-"] > .content {
    margin: 20px;
}

.navigation_account__link {
    display: inline-block;
    font-size: 18px;
    line-height: 35px;
    color: #9db1e6;
    text-decoration: none;
    letter-spacing: 1px;
    height: 35px;
    margin: 0;
    margin-left: 5px;
}

.header-line > a.settings > img {
    transition: all 0.3s ease 0s;
}

.navigation_account__link:hover {
    opacity: 0.5;
}

.icon.rotate180 > svg {
    transform: rotate(180deg);
}

.icon.fi-star.gold-star svg path {
    fill: #cc9f00 !important;
}

.node-access-popup {
    border-left: 1px solid rgba(128, 128, 128, 0.45);
    border-top: 1px solid rgba(128, 128, 128, 0.45);
    border-right: 1px solid rgba(128, 128, 128, 0.45);
    background: #fff;
}

.help-content > h3#asset-symbol- {
    display: none;
}

.modal .errorModal {
    color: rgb(255, 0, 0);
    margin-top: -23px;
    margin-bottom: 18px;
}

.grid-content .highcharts-label table td {
    color: #fff;
}
