.modal.buy-table-modal
	h3
		text-align: center
		padding: 0
		margin: 0
		span
			font-weight: inherit
			font-size: inherit
	label
		margin-bottom: 0
	.content-block
		margin-bottom: 1rem
	.copyIcon
		span
			color: #fff!important
	.align-center
		align-items: center
	.btn.icon
		margin-right: 15px
		svg
			width: 20px
			height: 20px
		path
			fill: #fff!important
	.bridge_modal_address
		word-break: break-all